html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

.img-wrap {
  position: relative;
  /* margin: auto; */
  top: 0;
  left: 0;
}

.img-row {
  /* position: absolute; */
  /* margin: auto; */
  /* top: 1000px; */
  /* height: 1000px */
  left: 0;
}

.img_lang {
  position: absolute;
  height: 2000px;
  top: inherit;
  left: 50%;
  transform: translate(-50%, 0);
  /* z-index: -1; */
}
